.card {
  width: 100%;
  opacity: 1;
  align-items: center;
  justify-content: center;
  

}

.card__image {
  width: 100%;
  height: 413px;
  border-radius: 8px;
  margin-bottom: 12px;

}

.card__text {
  width: auto;
  height: 24px;
  opacity: 1;
  font-family: Poppins;
  line-height: 120%; 
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #212121;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
  max-width: calc(100% - 60px);  


}

.card__like-btn {
  border: none;
  height: 20px;
  top: 425px;
  left: 390px;
  color: #212121;
  opacity: 0.5;
  background-color: transparent;


}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;

}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.card__icon-image {
  display: flex;
}

@media screen and (max-width: 630px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__text {
    font-size: 16px;
  }

  .card__like-btn {
    height: 18px;
  }

  .card__icon-image {
    height: 18px;
    width: 20px;
  }
}