.cards {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}



.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  list-style: none;
}


@media screen and (max-width: 320px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  }
}


@media screen and (max-width: 630px) {
  .cards__list {
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}
