.cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  width: 89%;
  height: 100%;
  opacity: 1;
 
  border-bottom-width: 1px;
  padding-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid #21212166;
  justify-content: center;
  align-content: center;
}



.cards__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 320px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  }
}


@media screen and (max-width: 630px) {
  .cards__list {
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}
