.content {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 66%; 
   top: 310px;
  left: 80px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  width: 89%;
  height: 100%;
  opacity: 1;
 
  border-bottom-width: 1px;
  padding-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid #21212166;
  justify-content: center;
  align-content: center;
}

/* Tablet */
@media screen and (max-width: 630px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}


@media screen and (max-width: 320px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.cards__content {
  width: 100%;
  height: 445px;
  opacity: 1;
  align-items: center;
  justify-content: center;
  

}

.cards__image {
  width: 100%;
  height: 413px;
  opacity: 1;

}

.cards__text {
width: auto;
height: 24px;
opacity: 1;
font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 120%;


}

.cards__icon {
border: none;
height: 20px;
opacity: 0.4;
top: 425px;
left: 390px;
color: #212121;
opacity: 0.5;


}

.cards__icon:hover {
  opacity: 1;
  cursor: pointer;

}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;

}

.cards__icon-image {
  display: flex;
}