.footer {
    opacity: 1;
    top: 1340px;
    left: 668px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.footer__text {
    
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}