.header { 
  width: 100%;
  height: 3%;
  opacity: 1; 
  border-bottom-width: 1px;
  background: #FFFFFFCC; 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 0;
  text-align: center;

}

.header__title {
  width: 6%;
  height: 1%;
  opacity: 1; 
  align-content: center;
  justify-items: center;
}

.header__logo {
  width: 94px;
  height: 26px;
  opacity: 1;
  align-content: center;
  justify-items: center;
}



