.header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 0;
  text-align: center;

}


.header__logo {
  width: 94px;
  height: 26px;
  object-fit: contain;

}



