.menubar {
  width: 100%;
  height: 3%;
  opacity: 1; 
  border-bottom-width: 1px;
  background: #FFFFFFCC;

}

.menu__icon {
  width: 1%;
  height: 1%;
  opacity: 1;

}

.menu__text {
  width: 6%;
  height: 1%;
  opacity: 1;

}