.modal {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px 16px;
  margin: 8px 0 32px;
  color: #212121;
}

.modal__save-button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  opacity: 1;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__save-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url(../images/Close-Icon.svg);
  top: 36px;
  right: 50px;
  position: absolute;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  opacity: 1;
  margin: 0;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  margin-bottom: 32px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
}
.modal_type_preview {
  padding: 0 16px;
}
.modal__preview-container {
  position: relative;
}
.modal__close-button_type_preview {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: -40px;
  opacity: 1;
  background-image: url(../images/Close-icon_preview.svg);
  cursor: pointer;
}
.modal__close-button_type_preview:hover {
  opacity: 0.4;
}


.modal__error {
  display: block;
  min-height: 12px;
  color: #FF0000;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 5px;
  visibility: hidden;
}


.modal__error_visible {
  visibility: visible;
}


.modal__input_type_error {
  border-bottom: 1px solid #FF0000;
}


.modal__button_disabled {
  background-color: #E5E5E5;
  color: #000000;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 627px) {
  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }
  .modal__form {
    margin-top: 34px;
  }
  .modal__save-button {
    width: unset;
  }
  .modal__image {
    max-width: none;
  }
  .modal__close-button_type_preview {
    right: 0;
    top: -40px;
  }
}
