.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;             
  transition: opacity .3s ease, visibility .3s;  
  width: 730px;
  height: 400px;
  top: 204px;
  left: 355px;
}


.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
 max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 36px 50px 32px;

}



.modal__form {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin: 0 0 29px 0;
  font-size: 14px;
  background: transparent;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__save-button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  opacity: 1;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__save-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  border: none;
  background: none;
  cursor: pointer;
  background-image:url(../images/Close-Icon.svg);
  top: 236px;
  left: 995px;
  position: fixed;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  opacity: 1; 
  margin: 0;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    color: #212121;
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 282px;
    padding: 25px;
  }
  .modal__input {
    font-size: 16px;
  }
}
