.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;             
  transition: opacity .3s ease, visibility .3s;  
}


.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 1;
  border-radius: 10px;
  padding: 36px;
  width: 430px;
  max-width: 90%;
  box-sizing: border-box;

}

.modal__row {
  display: flex;
  flex-direction: row-reverse;
  width: 86%;
  justify-content: space-between;
}

.modal__form {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin: 0 0 29px 0;
  font-size: 14px;
  background: transparent;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__save-button {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  opacity: 1;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.modal__save-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  opacity: 0.4;
  border: none;
  background: none;
  cursor: pointer;
  background-image:url(../images/Close-Icon.svg);
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 282px;
    padding: 25px;
  }
  .modal__input {
    font-size: 16px;
  }
}
