.page {
  background-color: #FCF5E5;
  font-family: "Poppins", Arial, Helvetica, sans-serif; 
  color: #212121;
}


.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}