

.page {
  background-color: #FCF5E5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;     
}


.body {
  margin: 0;
  background: #FCF5E5; 
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;     

}