.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   justify-self: center;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  gap: 20px;
  
}




.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__info {
  height: 190px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__name {
  margin: 0 0 6px 0;
  font-size: 32px;
  font-weight: 500;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
}

.profile__edit-button { 
  background-color: transparent; 
  border: none;
  margin-top: auto; 
  padding: 0; 
  font-size: 16px;
  font-weight: 500; 
  color: #212121; 
  opacity: 0.7; 
  display: flex; 
  gap: 8px; 
  cursor: pointer;

 }


.profile__edit-button:hover {
    color: #212121;
    opacity: 1;
    cursor: pointer;
}

.profile__edit-icon {
    opacity: 1;

}

.profile__add-button{
  
  height: 100%;
  opacity: 1;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  border: none;
  border-radius: 8px;
  flex-direction: row;
  display: flex;
  margin-left: auto;
  background: #212121;
  height: 100%;
  border-radius: 8px;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  align-self: flex-end;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile__add-button:hover {
    background: #212121CC;
    cursor: pointer;

}


.profile__add-icon {

width: 12px;
height: 12px;
}

@media screen and (max-width: 630px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__info {
    text-align: center;
    height: unset;
  }

  .profile__edit-button {
    margin: 32px auto 0 auto;
  }

  .profile__add-button {
    width: 100%;
  }
}