.card {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background: transparent url('../images/Delete-Icon.svg') center no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__description {
  padding: 18px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.card__text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 210px;
}

.card__like-btn {
  width: 22px;
  height: 19px;
  background: transparent url('../images/Like-Icon.svg') center no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s ease;
}

.card__like-btn_is-active {
  background-image: url('../images/Liked-icon.svg');
}

.card__like-btn:hover {
  opacity: 0.5;
}