.cards {
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .cards__list {
    max-width: 584px;
  }
}

@media screen and (max-width: 630px) {
  .cards {
    padding-top: 36px;
  }

  .cards__list {
    grid-template-columns: 282px;
    gap: 20px;
  }
}
