.modal {
  display: flex;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  z-index: 1111;
  padding: 0 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px;
  box-sizing: border-box;
}

.modal_type_delete .modal__container {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: 900;
  color: #000;
}

.modal_type_delete .modal__title {
  margin: 0 0 38px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  margin-bottom: 30px;
  font-size: 14px;
}

.modal__save-button,
.modal__button_type_confirm {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.modal__save-button:hover,
.modal__button_type_confirm:hover {
  opacity: 0.8;
}

.modal__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.modal__button_type_cancel {
  background: transparent;
  border: none;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.modal__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent url('../images/Close-Icon.svg') center no-repeat;
  border: none;
  cursor: pointer;
}

.modal__save-button_disabled {
  background-color: #E5E5E5;
  color: #000;
  opacity: 0.5;
  cursor: default;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 25px 22px;
  }
  .modal__close-button {
    top: -36px;
    right: 0;
  }
}