.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.page__section {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}