.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  gap: 20px;
  align-items: stretch;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__avatar-edit-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  font-size: 12px;
}

.profile__avatar-container:hover .profile__avatar-edit-button {
  opacity: 1;
}

.profile__avatar-edit-button img {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__name {
  margin: 0 0 6px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.1;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
  font-weight: 500;
}

.profile__edit-button {
  background-color: transparent;
  border: none;
  margin-top: auto;
  padding: 0;
  font-size: 16px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;
}

.profile__add-button {
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  background: #212121;
  color: #fcf5e5;
  font-size: 16px;
  margin-top: auto;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.profile__add-button:hover,
.profile__edit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .profile__container {
    width: calc(100% - 38px);
    padding: 25px 22px;
  }
}