.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  gap: 20px;
  align-items: stretch;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  cursor: pointer;
  flex-shrink: 0;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover .profile__avatar-overlay {
  opacity: 1;
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__name {
  margin: 0 0 6px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  opacity: 0.7;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
}

.profile__edit-button {
  background-color: transparent;
  border: none;
  margin-top: auto;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 0.7;
  display: flex;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  align-items: center;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  background: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  margin-top: auto;
  margin-left: auto;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }

  .profile__avatar-container {
    width: 150px;
    height: 150px;
  }

  .profile__info {
    text-align: center;
    align-items: center;
  }

  .profile__edit-button {
    margin: 32px auto 0;
  }

  .profile__add-button {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}